<h1><%= @movie.name %></h1>
<%= image_tag @movie.image_url if @movie.image_url.present? %>
<p><%= @movie.description %></p>
<p><%= @movie.year %>年</p>
<h2>上映スケジュール</h2>

<p><%= link_to "← トップページに戻る", root_path %></p>

<% if @schedules.empty? %>
  <p>現在、この作品の上映スケジュールはありません。</p>
<% else %>
  <ul>
    <% @schedules.each do |schedule| %>
      <li>
      <%= schedule.screen&.theater&.name || '（劇場未設定）' %>：
      <%= schedule.start_time.strftime("%Y/%m/%d %H:%M") %> 〜
      <%= schedule.end_time.strftime("%H:%M") %>
      <%= link_to "座席を選ぶ",
              reservation_movie_path(@movie,
                schedule_id: schedule.id,
                date: schedule.start_time.to_date,
                # timeをつけない
                time: schedule.start_time.strftime("%H:%M")) %>
      </li>
    <% end %>
  </ul>
<% end %>

