<h1>予約詳細</h1>

<p>name: <%= @reservation.name %></p>
<p>email: <%= @reservation.email %></p>
<p>date: <%= @reservation.date %></p>
<p>schedule_id: <%= @reservation.schedule_id %></p>
<p>sheet_id: <%= @reservation.sheet_id %></p>


