<%# app/components/movies/search_form_component.html.erb #%>
<form action="<%= movies_path %>" method="get">
  <label>
    <input type="radio" name="is_showing" value=""
      <%= all_selected? ? 'checked' : '' %>> すべて
  </label>
  <label>
    <input type="radio" name="is_showing" value="1"
      <%= showing? ? 'checked' : '' %>> 上映中
  </label>
  <label>
    <input type="radio" name="is_showing" value="0"
      <%= upcoming? ? 'checked' : '' %>> 公開予定
  </label>
  <label>
    <input type="text" name="keyword" placeholder="キーワードを入力"
      value="<%= @keyword.to_s %>">
  </label>
  <input type="submit" value="検索">
</form>
